<!DOCTYPE HTML>
<html>
<title>Welcome to Stevens Scheduler</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stevens.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ngDialog.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ngDialog-theme-default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/fullcalendar.css') }}">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/themes/default/style.min.css" />
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/ngDialog/ngDialog.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/fullcalendar/lib/moment.min.js') }} " type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/fullcalendar/fullcalendar.js') }}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" type="text/javascript"></script>
</head>
<body ng-app="scheduler" class="flex-container" layout="column">
		<md-toolbar style="background-color:#FFFFFF; height:106px">
			<div id="stev-header"></div>
		</md-toolbar>
		
		<section layout="row" layout-fill ng-cloak flex>
		<div ng-controller="cToggleNavigation">
			<md-sidenav class="md-sidenav-left" md-component-id="left" 
			layout="column" layout-fill ng-cloak md-is-open="true" md-is-locked-open="isSidebarOpen()" md-disable-backdrop>	
				<div ng-controller="cSideCtrl as side" layout="column" flex>
				
					<md-nav-bar md-selected-nav-item="side.nav" nav-bar-aria-label="navigation links">  
						<md-nav-item md-nav-click="side.setNav('scheduler')" name="scheduler">Scheduler</md-nav-item>
						<md-nav-item md-nav-click="side.setNav('course_info')" name="course_info">Course Info</md-nav-item>
						<md-select ng-model="side.selectedSemester" ng-change="side.setSemester()" placeholder="{%raw%}{{ side.selectedSemester.name }}{%endraw%}">
							<md-option ng-value="semester" ng-repeat="semester in side.semesters">{%raw%}{{ semester.name }}{%endraw%}</md-option>
						</md-select>
					</md-nav-bar>
					
					<form ng-submit="$event.preventDefault()" layout-align="center center">
						<md-input-container>
							<input ng-keyup="side.searchTree(searchBar)" id="searchBar" ng-model="searchBar" placeholder="Enter class name" md-sidenav-focus></input>
						</md-input-container>
						<md-button class="md-button" ng-click="side.clearSelected()" ng-show="side.getNav() === 'scheduler'" ng-hide="side.getNav() !== 'scheduler'">Clear Classes</md-button>
					</form>
					
					<md-content>
						<div ng-show="side.getNav() === 'course_info'" ng-hide="side.getNav() !== 'course_info'" id="course_tree" flex></div>
						<div ng-show="side.getNav() === 'scheduler'" ng-hide="side.getNav() !== 'scheduler'" id="schedule_tree" flex></div>
					</md-content>
				</div>
			</md-sidenav>
		</div>

		<md-content flex>
			<div layout="column" layout-fill ng-cloak flex>
				
				<tab-navigation></tab-navigation>
				
				<div layout-align="center center" flex>
					<div id='calendar'></div>
				</div >
			</div>
		</md-content>
		
	</section>
</body>
</html>
