<!doctype html>
<title>Welcome to Stevens Scheduler</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stevens.css') }}">

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='themes/calendar_g.css') }}" />   

<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- helper libraries -->
<script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}" type="text/javascript"></script>

<!-- daypilot libraries -->
<script src="{{ url_for('static', filename='js/daypilot/daypilot-all.min.js') }}" type="text/javascript"></script>

<!-- daypilot libraries -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

<!-- custom Stevens classes libraries -->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/themes/default/style.min.css"/>

</head>
<body ng-app="scheduler" class="flex-container">
	<!-- Top Row Section-->
	<header class="header">
	<h3> Steven's Scheduler </h3>
	</header>
	<!-- End Top Row Section-->
	<!-- Middle (main) Row with 2 columns Section-->
	<section class="section" ng-controller="AppCtrl" layout="row" layout-fill ng-cloak flex>
		<!-- Left SideBar Section md-stuff is being used to align instead of div-->
		<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-open="true" md-is-locked-open="isSidebarOpen()" md-disable-backdrop>
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Sidenav</h1>
				<!--
				<md-button class="md-icon-button" aria-label="Settings">
				<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
				</md-button>
				-->
			</md-toolbar>
			
			<md-content ng-controller="SideCtrl as side" layout-padding flex>
				<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
					<md-nav-item md-nav-click="goto('page1')" name="page1">Scheduler</md-nav-item>
					<md-nav-item md-nav-click="goto('page2')" name="page2">Course Info</md-nav-item>
				</md-nav-bar>
				<form ng-submit="$event.preventDefault()">
					<md-input-container>
						<label>Enter class name</label>
						<input class="class-search" ng-model="string"></input>
					</md-input-container>
				</form>
				<div id="tree"></div>
			</md-content>
		</md-sidenav><!-- End Left SideBar Section-->
		<!-- Right SideBar Section-->
		<md-content class="aside" flex layout-padding layout="column" layout-align="top center">
				<div id="dp"></div>  <!-- calender module -->
				<div flex></div>
		</md-content><!-- Right SideBar Section-->
	</section> 
<!-- End Body div-->
</body>
