/* Stevens Default Red #9D1535
Stevens Hover Red #7e102a */
header.header {
	height: 30px;
	width: 100%;
	color: white;
	background-color: #9D1535;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

