/* 
Stevens Default Red #9D1535
Stevens Hover Red #7e102a
Stevens Grey #BBBCBE
*/

body {
	background-color: #FFFFFF;
}

form { 
	padding: 0px 12px 2px 24px; 
}

/* header picture codes */
#stev-header {
	background-image: url("/static/img/stevens_logo.gif");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 250px, 106px;
	background-color: #FFFFFF;
	padding-left: 5px;
	color: #1a6ec5;
	font-size: 24px;
	font-weight: bold;
	height: 106px;
	width: 250px;
}

/* Side bar navigation button codes */
md-nav-bar span{
	color: #FFFFFF;
}
md-nav-bar .md-nav-bar {
	background-color: #9D1535;
}
md-nav-bar md-nav-ink{
	background-color: #7e102a;
}
md-nav-bar md-nav-ink-bar{
	background-color: #BBBCBE;
}

/* Schedule selector tab codes */
#stev-content-tab md-tabs {
  background-color: #9D1535;
}

#stev-content-tab span {
	color: #FFFFFF;
}

#stev-content-tab md-ink {
	background-color: #7e102a;
}

#stev-content-tab md-ink-bar {
	background-color: #BBBCBE;
}

/* Calendar codes */
#calendar {
	padding: 0;
	margin: 0;
}

#calendar .fc-view-container div table thead {
	color: #fff;
	background-color: #9D1535;
	border-color: #BBBCBE;
}

#calendar .fc-view-container div table thead th {
	border-color: #BBBCBE;
}

#calendar .fc-view-container div table tbody .fc-axis {
	color: #fff;
	background-color: #9D1535;
	border-color: #BBBCBE;
}

/* .fc-toolbar {
	display: none;
} */
